<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head :: head"/>

<body>
<div class="container-fluid">
    <th:block th:include="fragments/navbar :: navbar"/>

    <main>

        <div class="container">

            <h1 class="mt-3 mb-3">ALL Viruses</h1>

            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Magnitude</th>
                    <th>Released On</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="virus,iter : ${viruses}">
                    <td th:text="${iter.index+1}"></td>
                    <td th:text="${virus.name}"></td>
                    <td th:text="${virus.magnitude}"></td>
                    <td th:text="${virus.releasedOn}"></td>
                    <td><a th:href="@{/viruses/{id}/edit(id=${virus.id})}">Edit</a></td>
                    <td><a th:href="@{/viruses/{id}/delete(id=${virus.id})}">Delete</a></td>
                </tr>


            </table>
        </div>
    </main>
</div>
</body>

</html>