<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head :: head"/>

<body>
<div class="container-fluid">
    <th:block th:include="fragments/navbar :: navbar"/>

    <main>

        <div class="jumbotron mt-3 bg-residentevil">
            <h1 class="text-white">Project: Resident Evil</h1>
            <hr class="bg-white hr-2"/>
            <h3 class="text-white">Resident Evil is a system that registers virus spreads across the world.</h3>
        </div>

    </main>
</div>
</body>

</html>